/* Living Hero Section */
.living.hero-section {
  height: 70vh;
  background: url("../public/images/herol.webp") center/cover no-repeat;
  background-attachment: fixed; /* optional */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Dark overlay */
.living.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}

/* Container inside hero */
.living.hero-section .container {
  position: relative;
  z-index: 1;
}

/* Heading animation */
.living.hero-section h1 {
  animation: fadeUp 1s ease-in-out forwards;
  text-shadow: 5px 5px 20px rgb(202, 160, 92);
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}